<section class="flex items-center justify-center bg-gray-100" style="min-height: calc(100vh - 100px);">
  <div class="w-full max-w-md bg-white shadow-lg rounded-lg p-8">
    <h1 class="text-2xl font-semibold text-blue-600 text-center mb-4">Recuperar Contraseña</h1>
    <p class="text-sm text-gray-600 text-center mb-6">
      Por favor, introduce tu nueva contraseña y confírmala para continuar.
    </p>

    <div class="mb-6">
      <label for="password" class="block text-sm font-medium text-gray-700">Nueva Contraseña</label>
      <div class="relative">
        <input 
        id="password" 
        [type]="passwordFieldType" 
        placeholder="********" 
        required 
        class="mt-1 w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
        [(ngModel)]="NewPassword">
      
        <button 
          id="togglePassword" 
          type="button" 
          class="absolute right-2 top-1/2 transform -translate-y-1/2 flex items-center justify-center w-8 h-8 text-gray-500 rounded-full hover:bg-gray-200"
          (click)="togglePasswordVisibility()">
          <svg *ngIf="passwordFieldType === 'password'" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 text-gray-700">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.98 8.803a10.478 10.478 0 0116.04 0m-1.484 1.669c-.963 1.142-2.77 3.271-5.527 3.271-2.757 0-4.564-2.129-5.527-3.271m11.054 0a5.75 5.75 0 11-11.054 0 5.75 5.75 0 0111.054 0z"/>
          </svg>
          <svg *ngIf="passwordFieldType === 'text'" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 text-gray-700">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3 3l18 18m-2.684-4.648A10.477 10.477 0 0113.5 17.25c-2.757 0-4.564-2.129-5.527-3.271m9.527 3.271a5.75 5.75 5.75 0 01-5.75-5.75 5.75 5.75 0 01.518-2.648M12.75 4.5l8.25 8.25"/>
          </svg>
        </button>
      </div>
    </div>

    <div class="mb-6">
      <label for="confirm-password" class="block text-sm font-medium text-gray-700">Confirmar Contraseña</label>
      <input 
        id="confirm-password" 
        type="password" 
        placeholder="********" 
        required 
        class="mt-1 w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
        [(ngModel)]="repeatPassword">
    </div>

    <button 
      type="button" 
      class="w-full bg-blue-600 text-white font-medium py-2 px-4 rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500"
      (click)="changePassword()">
      Cambiar Contraseña
    </button>

    <p class="text-center text-sm text-gray-600 mt-4">
      Al presionar el botón, si todo ha salido bien, iniciamos sesión en tu cuenta inmediatamente.
    </p>
  </div>
</section>
