<section class="flex items-center justify-center bg-gray-100" style="min-height: calc(100vh - 100px);">
    <div class="w-full max-w-md bg-white shadow-lg rounded-lg p-8">
      <h1 class="text-2xl font-semibold text-blue-600 text-center mb-4">Recuperar Contraseña</h1>
      <p class="text-sm text-gray-600 text-center mb-6">
        Por favor, introduce tu nueva contraseña y confírmala para continuar.
      </p>

        <div class="mb-6">
          <label for="password" class="block text-sm font-medium text-gray-700">Nueva Contraseña</label>
          <input 
            id="password" 
            type="password" 
            placeholder="********" 
            required 
            class="mt-1 w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
            [(ngModel)]="NewPassword">
        </div>
        <div class="mb-6">
          <label for="confirm-password" class="block text-sm font-medium text-gray-700">Confirmar Contraseña</label>
          <input 
            id="confirm-password" 
            type="password" 
            placeholder="********" 
            required 
            class="mt-1 w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
            [(ngModel)]="repeatPassword">
        </div>
        <button 
          type="button" 
          class="w-full bg-blue-600 text-white font-medium py-2 px-4 rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500"
          (click)="changePassword()">
          Cambiar Contraseña
        </button>
        <p class="text-center text-sm text-gray-600 mt-4">
            Al presionar el boton, si todo a salido bien iniciaremos sesion en su cuenta inmediatemente
        </p>

    </div>
  </section>
  