.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 15px;

  table {
    width: 100%;
    border-collapse: collapse; /* Mantener bordes bien definidos */
  }

  th,
  td {
    padding: 12px;
    border: 1px solid #ccc;
    text-align: left;
    word-wrap: break-word; /* Permite que las palabras largas se ajusten */
    word-break: break-word; /* Rompe las palabras largas si es necesario */
    white-space: normal; /* Permite que el texto fluya y se ajuste */
  }

  th {
    background-color: #333;
    color: white;
  }

  .overflow-x-auto {
    overflow-x: auto; /* Permite el desplazamiento horizontal solo si es necesario */
  }
}

/* Eliminar el desplazamiento horizontal */
.overflow-x-auto {
  overflow-x: hidden; /* Eliminamos el desplazamiento horizontal */
}

/* Botones del dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  padding: 10px 20px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
}

.dropdown-button::after {
  content: '▼';
  font-size: 12px;
  margin-left: 8px;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-width: 250px; /* Limita el ancho del dropdown */
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #333;
  padding: 10px 15px;
  text-decoration: none;
  display: block;
  font-size: 14px;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown-content.show {
  display: block;
}

/* Hacer la tabla más responsiva en pantallas pequeñas */
@media (max-width: 640px) {
  table {
    width: 100%;
    display: block; /* Hacemos que la tabla se comporte como un bloque en pantallas pequeñas */
    font-size: 0.9rem;
  }

  thead {
    display: none; /* Ocultamos los encabezados en pantallas pequeñas */
  }

  tbody {
    display: block;
    width: 100%;
  }

  tr {
    display: block; /* Cada fila se convierte en un bloque */
    margin-bottom: 10px;
    border: none;
    background-color: #f9f9f9; /* Fondo más claro para diferenciar filas */
    padding: 10px;
  }

  td {
    display: block;
    width: 100%;
    padding: 8px;
    border-bottom: 1px solid #ddd;
    text-align: right;
    position: relative;
    font-size: 0.9rem; /* Ajuste de fuente */
  }

  td:before {
    /* Añadimos el encabezado como pseudo-elemento */
    content: attr(data-label);
    font-weight: bold;
    position: relative;
    left: -4px;
  }


}

@media (max-width: 480px) {
  table {
    font-size: 0.8rem; /* Reduce aún más el tamaño de la fuente */
  }

  th,
  td {
    padding: 6px;
  }
}