<div class="container mx-auto p-5">
    @if (role === 'ADMIN') {
        <h1 class="text-2xl font-bold mb-4 text-blue-500 text-center">Todas las Citas</h1>
      } @else {
        <h1 class="text-2xl font-bold mb-4 text-blue-500 text-center">Mis Citas</h1>
      }
      
    <div class="overflow-x-auto">
      <table class="min-w-full bg-white border border-gray-300 mb-4 table-auto">
        <thead>
          <tr class="bg-gray-100">
            <th class="border px-2 py-2 text-left text-xs text-center">Fecha </th>
            <th class="border px-2 py-2 text-left text-xs">Hora de Inicio </th>
            <th class="border px-2 py-2 text-left text-xs">Cliente </th>
            <th class="border px-2 py-2 text-left text-xs">Estado </th>
            <th class="border px-2 py-2 text-left text-xs">Servicio </th>
            @if (role === 'ADMIN') {
              <th class="border px-2 py-2 text-left text-xs">Empleado </th>
            }
            <th class="border px-2 py-2 text-left text-xs">Acciones </th>
          </tr>
        </thead>
        <tbody>
          @for (item of appointmenReports; track $index) {
          <tr class="border-b hover:bg-gray-100">
            <td class="border px-2 py-2 text-sm" data-label="Fecha">{{ item.fecha }}</td>
            <td class="border px-2 py-2 text-sm" data-label="Hora de Inicio">{{ item.horaInicio }}</td>
            <td class="border px-2 py-2 text-sm" data-label="Cliente">{{ item.cliente }}</td>
            <td class="border px-2 py-2 text-sm" data-label="Estado">{{ item.estado }}</td>
            <td class="border px-2 py-2 text-sm" data-label="Servicio">{{ item.servicio }}</td>
            @if (role === 'ADMIN') {
              <td class="border px-2 py-2 text-sm" data-label="Empleado">{{ item.empleado }}</td>
            }
            <td class="border px-2 py-2 text-sm" data-label="Acciones">
              @if (item.estado === 'RESERVADO') {
                <div class="dropdown relative">
                  <button class="dropdown-button" (click)="toggleDropdown($index)">
                    Filtrar por categoría
                  </button>
                  <div class="dropdown-content absolute hidden" [class.show]="dropdownStates[$index]">
                    <a href="javascript:void(0)" (click)="completed(item.appointment.id)">Completado</a>
                    <a href="javascript:void(0)" (click)="canceled(item.appointment.id)">No se presentó</a>
                  </div>
                </div>
              } @else {
                sin acciones
              }
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div> 
    <!-- Mensaje si no hay citas -->
     @if(appointmenReports.length === 0){
        <div class="text-center mt-6 text-gray-600">
            <p>No hay citas disponibles.</p>
          </div>
     }
  </div>
  